<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leui.circleprogressbardemo">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <application

        android:allowBackup="true"
        android:icon="@drawable/le_control_center_pinwheel"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.rocf.pinwheeldemo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
